<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 align="center">Rooms List</h2>
  </div>
  <div class="container">
    <div class="form-group">

        <input type="text" class="form-control" placeholder="Search Here" [ngStyle]="{'font-size.px':20}" [(ngModel)]="filt">

    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">

      <tbody>

      <div *ngFor="let room of allrooms | filter:filt ;let i = index">

        <app-room [showroom]="room" (delete)="supprimer($event)"></app-room>

      </div>
      <a routerLink="/Room/add">
        <button type="button" class="btn btn-outline-success btn-lg">Add Room</button>
      </a>
      </tbody>
    </table>
  </div>
</div>
