<h1 align="center">Add Tourist </h1>
<form #b="ngForm" (ngSubmit)="sum(b.value)">
  <div class="form-group">
    <label>Cin:</label>
    <input type="text" name="cin" class="form-control" [(ngModel)]="tourist.cin" pattern="[0-9]{8}$"
           #v="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="v.touched && v.invalid">
    cin is required
  </div>
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" name="nom" class="form-control"[(ngModel)]="tourist.nom"
           required  #h="ngModel" >
  </div>
  <div class="alert alert-danger" *ngIf="h.touched && h.invalid">
    Erreur first name
  </div>
  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" name="prenom" class="form-control"  [(ngModel)]="tourist.prenom"
           #o="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="o.touched && o.invalid">
    Erreur last name
  </div>

  <div class="form-group">
    <label>E-Mail:</label>
    <input type="text" name="Email" class="form-control" [(ngModel)]="tourist.Email" pattern="[A-Za-z0-9]+@+[A-Za-z]+.+[A-Za-z]{2,3}$"
           #m="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="m.touched && m.invalid">
    Email is required
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" name="tel" class="form-control" [(ngModel)]="tourist.tel" pattern="[0-9]{8}$"
           #x="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="x.touched && x.invalid">
    Erreur phone number
  </div>
  <br/>
  <div class="text-center">
    <button class="btn btn-success btn-lg" [disabled]="b.invalid " >
      Add Tourist
    </button>
    <button class="btn btn-primary btn-lg" (click)="can()"  >
      Cancel
    </button>
  </div>
</form>

