<div class="container">
<h1 align="center">Room Update </h1>
<form #f="ngForm" (ngSubmit)="sum(f.value)">

  <div class="form-group">
    <label>Room Number:</label>
    <input type="text" name="RoomNumber" class="form-control"[(ngModel)]="Room.RoomNumber"
           required maxlength="4" #t="ngModel" pattern="[0-9]+$">
  </div>
  <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
    <div *ngIf="t.errors.required">Room Number is required</div>
    <div *ngIf="t.errors.maxlength">Room Number maxlength is 4</div>
    <div *ngIf="t.errors.pattern">message Pattern</div>
  </div>
  <div class="form-group">
    <label >Type Of Room</label>
    <select class="custom-select "   name="TypeOfRoom" class="form-control"  [(ngModel)]="Room.TypeOfRoom"
            #q="ngModel" required >
      <option selected disabled value="">Choose...</option>
      <option>Single</option>
      <option>Double</option>
      <option>Triple</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
    Type Of Room is required
  </div>
  <div class="form-group">
    <label>Square Footage</label>
    <input type="text" name="SquareFootage" class="form-control" [(ngModel)]="Room.SquareFootage"
           #p="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="p.touched && p.invalid">
    Square Footage is required
  </div>
  <div class="form-group">
    <label>Phone Available</label>
    <input type="number" name="PhoneAvailable" class="form-control" [(ngModel)]="Room.PhoneAvailable" pattern="[0-9]{8}$"
           #c="ngModel" required >
  </div>
  <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
    Phone Available
  </div>
  <br/>
  <div class="text-center">
  <button class="btn btn-success btn-lg" [disabled]="f.invalid" >
    Update Rooms
  </button>
    <button class="btn btn-primary btn-lg" (click)="can()"  >
      Cancel
    </button>
  </div>
</form>
</div>
